@component('components/layout', {title: title})
<div class="deck-form">
  <h2 class="page-title">{{title}}</h2>
  <form action="{{route('deck.update', {id: deck.id})}}" method="post">
    @include('partials/decksForm')
  </form>
</div>

@endcomponent