{{csrfField()}}
<div class="field">
  @!component('components/input', {name: 'question', label: 'Question', value: old('question') || card?.question || ''})
</div>
<div class="field">
  @!component('components/input', { name: 'answer', label: 'Réponse', value: old('answer') || card?.answer || ''
  })
</div>

<button type="Submit" id="card-form-submit">Enregistrer</button>