{{csrfField()}}
<div class="field">
  @!component('components/input', {name: 'title', label: 'Titre', value: old('title') || (deck ? deck.title :
  '')})
</div>

<button type="submit">Enregistrer</button>