<header>
  <div id="header-left">
    <a href="#" id="header-title">FlashCards</a>
    <a href="#" class="header-link">Voir la liste de mes Decks</a>
    <a href="#" class="header-link">Créer un nouveau Deck</a>
  </div>
  <button id="header-btn">Connexion</button>
</header>