@component('components/layout', {title: title})
<div class="card-form">
  <h2 class="page-title">Ajouter une carte</h2>
  <h3>Deck : {{deck.title}}</h3>
  <form action="{{route(`cards.update`, {deck_id: deck.id, card_id: card.id})}}" method="post">
    @include('partials/cardsForm')
  </form>
</div>

@endcomponent