* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ---------- HEADER ------------- */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #efefef;
}

#header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-title,
.header-link,
#header-btn {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  margin-right: 30px;
}

#header-title {
  margin-left: 15px;
  margin-right: 30px;
  font-size: 2em;
}

.header-link:hover {
  color: #9966cc;
}

#header-btn {
  background-color: #9966cc;
  color: white;
  margin-top: 15px;
  padding: 10px 15px;
  border: white 1px;
  border-radius: 15px;
  margin-bottom: 15px;
}

#header-btn:hover {
  background-color: white;
  cursor: pointer;
  color: #9966cc;
}

/* ------------ FOOTER ------------ */
footer {
  color: white;
  font-size: 1em;
  width: 100vw;
  text-align: center;
  padding: 30px 0px;
  background-color: #9966cc;
}

/* ------------ HOMEPAGE ------------ */
main {
  flex: 1;
}

.page-title {
  font-size: 2.2rem;
  width: 100vw;
  text-align: center;
  margin: 15px 0px 50px 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 80rem;
}

.deck-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #9966cc;
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid rgba(139, 92, 246, 0.3);
  text-decoration: none;
}

.deck-card:hover {
  background-color: rgba(109, 40, 217, 0.4);
}

.deck-card-title {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.deck-card-user {
  font-size: 1rem;
  color: white;
}

/* ----------- LOGINPAGE ----------- */
#form-div,
#form-login {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

#form-div {
  margin-top: 100px;
}
